<!DOCTYPE html>

<html lang="he">
  <head>
   
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="template.css" />

    <script src="/scripts/index.js" defer></script>

    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-KQTWEKK255"></script>

    <script defer>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KQTWEKK255");
    </script>

    <title>תבנית עמוד ריק</title>
  </head>

  <body>

    <header>
      <nav>
        <div class="dropdown" data-dropdown>
          <button class="link" data-dropdown-button>תבנית עמוד ריק</button>
          <div class="dropdown-menu position_right grid-menu">
            <div class="border">
              <div class="dropdown-heading">כללי</div>
              <div class="dropdown-links">
                <a href="/index.html" class="link">דף הבית</a>
                <a href="/pages/mail_list_form.html" class="link"
                  >הרשמה לרשימת תפוצה</a
                >
                <a href="/pages/contact.html" class="link">צור קשר</a>
                <a href="/pages/solutions.html" class="link">פתרונות</a>
              </div>
            </div>

            <div class="border">
              <div class="dropdown-heading">מאמרים <span>*בבניה</span></div>
              <div class="dropdown-links">
                <a href="/pages/build_sites/build_sites.html" class="link"
                  >בניית אתרים</a
                >
                <a href="/pages/responsive/responsive.html" class="link"
                  >אתר רספונסיבי</a
                >
                <a href="/pages/SEO/SEO.html" class="link"
                  >קידום אתרים אורגני</a
                >
                <a href="/pages/accessibility/accessibility.html" class="link"
                  >נגישות</a
                >
              </div>
            </div>

            <div class="border">
              <div class="dropdown-heading">
                שירותים ומוצרים <span>*בבניה</span>
              </div>
              <div class="dropdown-links">
                <a href="/pages/Corporate/Corporate.html" class="link"
                  >אתר תדמית</a
                >
                <a href="/pages/maintenance/maintenance.html" class="link"
                  >תחזוקה</a
                >
                <a href="/pages/design/design.html" class="link"
                  >עיצוב אתר קיים</a
                >
                <a href="/pages/price/price.html" class="link"
                  >חבילות ומחירים</a
                >
              </div>
            </div>

            <div class="border">
              <div class="dropdown-heading">
                ללמוד לבנות אתרים <span>*בבניה</span>
              </div>
              <div class="dropdown-links">
                <a href="/pages/html/html.html" class="link">HTML</a>
                <a href="/pages/css/css.html" class="link">CSS</a>
                <a href="/pages/js/js.html" class="link">JavaScript</a>
              </div>
            </div>
          </div>
        </div>
        <div class="logo"><a href="/index.html"><img src="/images/logo.webp" alt="logo"></a></div>
      </nav>
    </header>

    <main>
      <div class="change_bg">
        <div class="cover"></div>
        <h1>העמוד בבניה</h1>
      </div>
    </main>

    <footer>
      <ul>
        <li><a href="https://www.youtube.com/channel/UCB6DThVkU9xeCI7YkuYG8Bg" class="link">YouTube</a></li>
        <li><a href="#" class="link">Linkedin</a></li>
        <li><a href="#" class="link">Discord</a></li>
      </ul>
      <p>כל הזכויות שמורות 2022</p>
    </footer>
  </body>
</html>
