/* fonts */

/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* my costum properties */

:root {
    --blue_color: rgb(0, 159, 253);
    --withe_color: rgb(255, 255, 255);
    --grey_color: rgb(240, 240, 240);
    --black_color: rgb(0, 0, 0);
    --brown_color: rgb(255, 164, 0);


    --my_font2: sans-serif;
}



/* general */

html {
    direction: rtl;
}

body {
    font-family: var(--my_font2);
    font-weight: 500;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1em;
}

h2 {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1em;
}

.tytle {
    padding: 0.5em;
    text-align: center;
    margin-top: 1.5em;
}

.sub_tytle {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

.p_style {
    max-width: 60ch;
    text-align: start;
}


/* header settings */

header {
    background: var(--blue_color);
}

.logo_link {
    display: flex;
    justify-content: center;
    background: var(--withe_color);
}

nav {
    min-height: 5em;
}

ul {
    min-height: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0 1em;
    color: black;
    font-weight: 800;
}

nav a:hover {
    color: var(--withe_color);
}


/* main settings */


input {
    all: unset;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--grey_color);
    color: var(--black_color);
    border: 1px solid black;
    max-width: 40em;
    margin: 1.5em auto;
    border-radius: 2em;
    padding: 1.5em;
}

.form_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: solid 1px red; */
    padding: 0.25em 1em;
}

.form_button{
    background: rgb(125, 47, 226);
    color: white;
    padding: 0.5em 2em;
    margin: 1em auto;
    border-radius: 1em;
    width: 90%;
    box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.38);
}

.mail,
.phone {
    width: 90%;
    background: white;
    margin: 1em auto;
    border-radius: 1em;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}

.password {
    width: 90%;
    background: white;
    margin: 0 auto 1em;
    border-radius: 1em;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}

.first-name,
.last-name {
    width: 48%;
    background: white;
    border-radius: 1em;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}

.flex {
display: flex;
width: 90%;
justify-content: space-between;
}


/* footer settings */

footer {
    margin: 0;
    padding: 2.5em 1.5em 1.5em 1.5em;
    background: var(--blue_color);
}


footer a {
    color: black;
    padding: 0 1em;
    text-decoration: none;
    font-weight: 600;
}

footer a:hover {
    color: var(--withe_color);
}

footer p {
    padding: 1em;
    text-align: center;
}

/* media queries */

@media (min-width:650px) {


    nav a {
        font-size: 1.85rem
    }


    p,
    footer a,
    footer p {
        font-size: 1.35rem;
    }



}