/* fonts */

/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* my costum properties */

:root {
    --blue_color: rgb(0, 159, 253); 
    --withe_color: rgb(255, 255, 255);
    --grey_color: rgb(240, 240, 240);
    --black_color: rgb(0, 0, 0);
    --brown_color: rgb(255, 164, 0); 


    --my_font2: sans-serif;
}



/* general */

html {
    direction: rtl;
}

body {
    font-family: var(--my_font2);
    font-weight: 500;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1em;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -17px 32px 26px 3px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    color: var(--blue_color);
    background: var(--withe_color);
    max-width: 35ch;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1em;
}


.tytle {
    padding: 0.5em;
    text-align: center;
    margin-top: 1.5em;
}

.sub_tytle {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

.p_style {
    max-width: 60ch;
    text-align: start;
}

button {
    border: var(--black_color) 0.2em solid;
    border-radius: 2em;
    padding: 0.75em 1.5em;
    display: block;
    margin: 1em auto;
    font-weight: 800;
    background: var(--blue_color);
    color: var(--withe_color);
}


/* header settings */

header {
    background: var(--blue_color);
}

.logo_link {
    display: flex;
    justify-content: center;
    background: var(--withe_color);
}

nav {
    min-height: 5em;
}

ul {
    min-height: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0 1em;
    color: black;
    font-weight: 800;
}

nav a:hover {
    color: var(--withe_color);
}


/* footer settings */

footer {
    margin: 0;
    padding: 2.5em 1.5em 1.5em 1.5em;
    background: var(--blue_color);
}


footer a {
    color: black;
    padding: 0 1em;
    text-decoration: none;
    font-weight: 600;
}

footer a:hover {
    color: var(--withe_color);
}

footer p {
    padding: 1em;
    text-align: center;
}

/* media queries */

@media (min-width:650px) {


    nav a {
        font-size: 1.85rem
    }


    p,
    footer a,
    footer p {
        font-size: 1.35rem;
    }



}