/* reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


    /* secular-one-regular - hebrew */
    @font-face {
        font-family: 'Secular One';
        font-style: normal;
        font-weight: 400;
        src: url('secular-one-v11-hebrew-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
             url('secular-one-v11-hebrew-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }



/* my costum properties */

:root {
    --blue_color: rgb(35, 154, 205);
    --withe_color: rgb(255, 255, 255);
    --grey_color: rgb(240, 240, 240);
    --black_color: rgb(0, 0, 0);
    --brown_color: rgb(205, 133, 63);

    --my_font1: 'Suez One', serif;
    --my_font2: 'Secular One', sans-serif;
}



/* general */

html {
    direction: rtl;
}

body {
    font-family: var(--my_font2);
}

.container {
    max-width: 600px;
    width: 85%;
    padding: 1.5em 3em;
    margin: 0 auto;
}


/* header settings */

header {
    min-width: 20em;
}

.logo_link {
    display: flex;
    justify-content: center;
}

nav {
    min-height: 5em;
    margin-top: 1em;
}

ul {
    min-height: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 0 1em;
    color: var(--brown_color);
}

nav a:hover {
    color: var(--black_color);
}




/* footer settings */

footer {
    margin: 0;
}

footer ul {
    min-height: auto;
}

footer a {
    color: var(--brown_color);
    padding: 0 1em;
}

footer p {
    padding: 1em;
    text-align: center;
}



/* media queries */

@media (min-width:400px) {
    
    .container {
        max-width: 600px;
    }

    nav a{
        font-size: 1.4rem;
    }

}

@media (min-width: 720px) {
    

    .container {
        max-width: 1000px;
    }

    nav a{
        font-size: 2rem;
    }


    footer a,
    footer p {
        font-size: 1.35rem;
    }
    
}


