@font-face {
    font-family: "heebo";
    src: url(/fonts/Heebo-Light.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "heebo";
    src: url(/fonts/Heebo-Regular.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "heebo";
    src: url(/fonts/Heebo-Medium.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "heebo";
    src: url(/fonts/Heebo-SemiBold.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "heebo";
    src: url(/fonts/Heebo-Bold.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "heebo";
    src: url(/fonts/Heebo-ExtraBold.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "heebo";
    src: url(/fonts/Heebo-Black.woff2);
    font-style: normal;
    font-weight: 900;
}

/* reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}





/* my costum properties */

:root {
    --blue_color: rgb(0, 159, 253); 
    --withe_color: rgb(255, 255, 255);
    --grey_color: rgb(240, 240, 240);
    --black_color: rgba(0, 0, 0, 0.747);
    --brown_color: rgb(255, 164, 0);


    --my_font2: 'Heebo', sans-serif;
}



/* general */

html {
    direction: rtl;
}

body {
    font-family: var(--my_font2);
    font-weight: 500;
}

h1 {
    font-size: 1.5rem;
    font-weight: 900;
}

.tytle {
    font-size: 1.25rem;
    font-weight: 900;
    padding: 0.5em;
    text-align: center;
}

.sub_tytle {
    text-align: center;
    margin-bottom: 1em;
    font-weight: 500;
}

.p_style {
    padding: 1em;
    max-width: 60ch;
}

button {
    border: none;
    border-radius: 2em;
    padding: 0.75em 1.5em;
    display: block;
    margin: 1em auto;
    font-weight: 800;
}


/* header settings */

header {
    background: var(--blue_color);
}

.logo_link {
    display: flex;
    justify-content: center;
    background: var(--withe_color);
}

nav {
    min-height: 5em;
}

ul {
    min-height: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

nav a {
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0 1em;
    color: black;
    font-weight: 800;
}

nav a:hover {
    color: var(--withe_color);
}


/* main settings */

/* section 1 */

.main_bg {
    background: var(--withe_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
    align-items: center;
}

.main_tytle {
    padding: 1em;
    max-width: 60ch;
}

.main_img {
    box-shadow: 5px 5px 5px 5px rgba(122, 122, 122, 0.45);
    padding: 1em;
    border-radius: 1em;
}


/* section 2 */

.build_sites_bg {
    background: var(--black_color);
    color: var(--withe_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
    align-items: center;
}


.build_sites_button {
    background: var(--brown_color);
    color: black;
}

.build_sites_button:hover {
    color: var(--withe_color);
    cursor: pointer;
}


/* section 3 */
.diy_bg {
    background: var(--brown_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
    align-items: center;
}

.diy_button {
    background: black;
    color: var(--withe_color);
}

.diy_button:hover {
    color: var(--brown_color);
    cursor: pointer;
}

/* section 4 */

.tips_bg {
    background: var(--black_color);
    color: var(--withe_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
    align-items: center;
}

.tips_button {
    background: var(--brown_color);
    color: black;
}

.tips_button:hover {
    color: var(--withe_color);
    cursor: pointer;
}


/* footer settings */

footer {
    margin: 0;
    padding: 2.5em 1.5em 1.5em 1.5em;
    background: var(--blue_color);
}

footer a {
    color: black;
    padding: 0 1em;
    text-decoration: none;
    font-weight: 600;
}

footer a:hover {
    color: var(--withe_color);
}

footer p {
    padding: 1em;
    text-align: center;
}


/* media queries */

@media (min-width:650px) {

    h1 {
        font-size: 2.5rem;
    }

    .tytle {
        font-size: 2.25rem
    }

    nav a {
        font-size: 1.85rem
    }

    .sub_tytle,
    .p_style,
    p,
    button,
    footer a,
    footer p {
        font-size: 1.35rem;
    }

    .main_bg {
        min-height: 50em;
    }

    .build_sites_bg,
    .diy_bg,
    .tips_bg {
        min-height: 30em;
    }


}