/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "trashim";
  src: url("/fonts/ShmulikCLM.woff");
}

@font-face {
  font-family: "Shmulik";
  src: url("/fonts/ShmulikCLM.woff");
}

/* my costum properties */

:root {
  --blue_color: rgb(34, 217, 102);
  --withe_color: rgb(255, 255, 255);
  --grey_color: rgb(240, 240, 240);
  --black_color: hsl(0, 0%, 3%);
  --brown_color: rgb(244, 196, 6);

  --my_font1: "trashim", cursive;
  --my_font2: "Shmulik", cursive;
}

/* general */

html {
  direction: rtl;
}

body {
  font-family: var(--my_font2);
  letter-spacing: 3px;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
}

img {
  max-width: 100%;
}

.tytle {
  font-size: 2.125rem;
  font-family: var(--my_font1);
  padding: 0.5em;
  text-align: center;
}

.sub_tytle {
  text-align: center;
  font-size: 2rem;
  font-family: var(--my_font1);
  color: var(--brown_color);
  margin-bottom: 1em;
}

.p_style {
  font-size: 1.5rem;
  padding: 1em;
  max-width: 60ch;
  margin: 0 auto;
}

button {
  padding: 0.75em 1.5em;
  margin: 1em auto;
}

/* header settings */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 130;
}

/* change the background color*/

.nav-scrolled {
  background: var(--withe_color);
  box-shadow: 10px 5px 15px 0 rgba(0, 0, 0, 0.5);
  color: var(--black_color);
}

nav {
  display: flex;
  align-items: center;
  padding: 0.75rem;
}

.dropdown-heading {
  font-family: var(--my_font2);
  font-size: 1.75rem;
  padding: 0.75em;
}

.dropdown-heading span {
  color: red;
}

.link {
  background: none;
  border-bottom: 2px solid var(--black_color);
  text-decoration: none;
  color: var(--black_color);
  font-family: inherit;
  font-size: 1.25rem;
  font-family: var(--my_font1);
  cursor: pointer;
  padding: 0.125em;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

@media (hover: hover) {
  a.link:hover,
  button.link:hover {
    color: var(--withe_color);
  }
}

button.link {
  border: none;
  color: var(--black_color);
  background: var(--brown_color);
  font-size: 1.5rem;
  font-family: var(--my_font2);
  border-radius: 15px;
  margin: 0;
  padding: 0.25em 0.75em;
}

.dropdown {
  position: relative;
  z-index: 110;
}

.left {
  margin-right: auto;
}

.dropdown-menu {
  max-height: 85vh;
  overflow: auto;
  position: absolute;
  top: 3.75em;
  background: var(--black_color);
  padding: 1.25em;
  border-radius: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1, 0);
  transform-origin: top;
  transition: 50ms ease-in-out 50ms;
}

.position_right {
  right: -0.75rem;
  min-width: 100vw;
  max-width: 100vw;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  text-align: center;
}

.dropdown.active > .link + .dropdown-menu {
  transform: scale(1, 1);
  transition: 200ms ease-in-out 50ms;
}

.grid-menu {
  display: grid;
  gap: 1.5rem;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.border {
  border: var(--brown_color) solid 1px;
  border-radius: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.75em;
  min-height: 12em;
  background: var(--brown_color);
  color: var(--black_color);
}

.cover {
  background: url(/images/randy-fath-ymf4_9Y9S_A-unsplash.jpg);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
}

.container_animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5em;
  font-size: 2.5rem;
  min-height: 75vh;
}

.ul_animated {
  position: relative;
  display: flex;
  padding: 0;
}

.li_animated {
  list-style: none;
  position: relative;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  margin: 0;
  cursor: pointer;
  min-height: 80px;
  min-width: 80px;
  z-index: 1;
}

.letter_animated {
  position: relative;
  min-height: 80px;
  min-width: 80px;
  background: #18191f;
  color: var(--brown_color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 4px;
padding: 2px;
  border-radius: 20px;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"]:checked ~ div {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* main settings */







/* footer settings */

footer {
  margin: 0;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background: var(--withe_color);
  border-top: var(--black_color) dashed 4px;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

footer li {
padding: 0.25em 0.75em;
margin: 0.5em 0;
background: var(--brown_color);
border-radius: 15px;
}

footer a {
  color: black;
  background: var(--brown_color);
  text-decoration: none;
}

@media (hover: hover) {
  footer a:hover {
    color: var(--withe_color);
  }
}

footer p {
  padding: 1em;
  margin: 0.5em auto;
  text-align: center;
  background: var(--brown_color);
  border-radius: 15px;
  max-width: 350px;
}

/* media queries */

@media (min-width: 650px) {
  h1 {
    font-size: 3.25rem;
  }

  button.link {
    font-size: 2rem;
  }

  .dropdown-menu {
    top: 3.75em;
  }

  .tytle {
    font-size: 3rem;
  }


  footer ul {
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;
  }
}

@media (min-width: 950px) {
  h1 {
    font-size: 3.75rem;
  }

  button.link {
    font-size: 2.25rem;
  }

  .dropdown-menu {
    top: 4em;
  }

 
}
