/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "trashim";
  src: url("/fonts/trashimclm-bold-webfont.woff");
  font-display: swap;
}

@font-face {
  font-family: "Shmulik";
  src: url("/fonts/ShmulikCLM.woff");
  font-display: swap;
}

@font-face {
  font-family: "archicoco";
  src: url(/fonts/Archicoco.woff);
  font-display: swap;
}

@font-face {
  font-family: "aperture";
  src: url(/fonts/aperture2.0-webfont.woff);
  font-display: swap;
}

/* my costum properties */

:root {
  --blue_color: rgb(34, 217, 102);
  --withe_color: rgb(255, 255, 255);
  --grey_color: rgb(240, 240, 240);
  --black_color: hsl(0, 0%, 3%);
  --brown_color: #f4c406;

  --my_font1: "trashim", cursive;
  --my_font2: "Shmulik", cursive;
  --my_font3: "archicoco", cursive;
  --my_font4: "aperture", cursive;
}

/* general */

html {
  direction: rtl;
}

body {
  font-family: var(--my_font2);
  letter-spacing: 3px;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
}

img {
  max-width: 100%;
}

.tytle {
  font-size: 2.125rem;
  font-family: var(--my_font1);
  padding: 0.5em;
  text-align: center;
}

.sub_tytle {
  text-align: center;
  font-size: 2rem;
  font-family: var(--my_font1);
  color: var(--brown_color);
  margin-bottom: 1em;
}

.p_style {
  font-size: 1.35rem;
  padding: 1em;
  max-width: 60ch;
  margin: 0 auto;
}

button {
  padding: 0.75em 1.5em;
  margin: 1em auto;
}

/* header settings */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* change the background color*/

.nav-scrolled {
  background: var(--withe_color);
  box-shadow: 10px 5px 15px 0 rgba(0, 0, 0, 0.5);
  color: var(--black_color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
}

.logo {
  height: 75px;
  width: 75px;
}

.dropdown-heading {
  font-family: var(--my_font2);
  font-size: 1.75rem;
  padding: 0.75em;
}

.dropdown-heading span {
  color: red;
}

.link {
  background: none;
  border-bottom: 2px solid var(--black_color);
  text-decoration: none;
  color: var(--black_color);
  font-family: inherit;
  font-size: 1.25rem;
  font-family: var(--my_font1);
  cursor: pointer;
  padding: 0.125em;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

@media (hover: hover) {
  a.link:hover,
  button.link:hover {
    color: var(--withe_color);
  }
}

button.link {
  border: none;
  color: var(--black_color);
  background: var(--brown_color);
  font-size: 1.5rem;
  font-family: var(--my_font2);
  border-radius: 15px;
  margin: 0;
  padding: 0.25em 0.75em;
}

.dropdown {
  position: relative;
  z-index: 100;
}

.dropdown-menu {
  max-height: 85vh;
  overflow: auto;
  position: absolute;
  top: 3.75em;
  background: var(--black_color);
  padding: 1.25em;
  border-radius: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1, 0);
  transform-origin: top;
  transition: 50ms ease-in-out 50ms;
}

.position_right {
  right: -0.75rem;
  min-width: 100vw;
  max-width: 100vw;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  text-align: center;
}

.dropdown.active > .link + .dropdown-menu {
  transform: scale(1, 1);
  transition: 200ms ease-in-out 50ms;
}

.grid-menu {
  display: grid;
  gap: 1.5rem;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.border {
  border: var(--brown_color) solid 1px;
  border-radius: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.75em;
  min-height: 12em;
  background: var(--brown_color);
  color: var(--black_color);
}

.cover {
  background: url(/images/adam-winger-OpV94f2edwE-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.change_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

h1 {
  font-family: var(--my_font2);
  font-size: 2.35rem;
  padding: 0.25em;
  line-height: 2.5;
  color: var(--brown_color);
  letter-spacing: 10px;
  text-align: center;
  margin: 0;
  background: var(--black_color);
  border-radius: 50px;
}


/* main settings */
.container {
  padding: 2.5%;
  background: var(--brown_color);
  font-family: var(--my_font1);
  display: flex;
}

.swiper-slide {
  min-height: 75vh;
  background-size: cover;
  background-position: center;
  scale: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1em;
  box-shadow: 10px 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.swiper-slide .p_style {
  background: var(--brown_color);
  max-width: 65%;
  margin: 0;
  padding: 5px;
  font-size: 1.35rem;
  border-radius: 15px;
}


.font {
  text-decoration: none;
  font-family: var(--my_font3);
}

.custom {
  font-family: var(--my_font4);
}

.contact_button {
  background: var(--black_color);
display: flex;
justify-content: center;
padding: 1em;
}

  button a {
    text-decoration: none;
    color: var(--black_color);
  }
  
  button a:active,
  button a:focus {
    all: unset;
  }
  
  button a:hover {
    color: var(--withe_color);
  }


/* footer settings */

footer {
  margin: 0;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background: var(--withe_color);
  border-top: var(--black_color) dashed 4px;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  padding: 0.25em 0.75em;
  margin: 0.5em 0;
  background: var(--brown_color);
  border-radius: 15px;
}

footer a {
  color: black;
  background: var(--brown_color);
  text-decoration: none;
}

@media (hover: hover) {
  footer a:hover {
    color: var(--withe_color);
  }
}

footer p {
  padding: 1em;
  margin: 0.5em auto;
  text-align: center;
  background: var(--brown_color);
  border-radius: 15px;
  max-width: 350px;
}

/* media queries */

@media (min-width: 650px) {

  .logo {
    width: 125px;
    height: 125px;
  }

  h1 {
    font-size: 3.25rem;
  }

  button.link {
    font-size: 2rem;
  }

  .dropdown-menu {
    top: 3.75em;
  }

  .tytle {
    font-size: 3rem;
  }

  .swiper-slide .p_style {
    font-size: 2rem;
    padding: 0.5em;
  }

  footer ul {
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;
  }
}

@media (min-width: 950px) {
  h1 {
    font-size: 3.75rem;
  }

  button.link {
    font-size: 2.25rem;
  }

  .dropdown-menu {
    top: 4em;
  }

  .swiper-slide .p_style {
    font-size: 2.25rem;
    padding: 0.75em;
  }
}
